{% extends 'base.html' %}
{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.description }}</p>
<p>Posted {% if question.visibility == 0 %} by <a href="{% url 'user_detail' slug=post.user.username %}">{{ post.user.username }}</a> {% endif %} on {{ post.created_at }}</p>
{% if post.user == user %}
<p><a href="{% url 'post_update' pk=post.id %}">Edit Post</a></p>
<p><a href="{% url 'post_delete' pk=post.id %}">Delete Post</a></p>
{% endif %}
{% if post.count > 0 %}
<h3>{{ post.count }} Post {{ posts.count|pluralize }}:</h3>
{% endif %}
{% for comment in comment %}
<div class="panel">
  <p>{{ post.text }}</p>
  {% if comment.user == user %}
  <p><a href="{% url 'comment_update' post_pk=post.id comment_pk=comment.id %}">Edit Comment</a></p>
  <p><a href="{% url 'comment_delete' post_pk=post.id comment_pk=comment.id %}">Delete Comment</a></p>
  {% endif %}
  <p>Answered {% if answer.visibility == 0 %} by <a href="{% url 'user_detail' slug=answer.user.username %}">{{ answer.user.username }}</a> {% endif %} on {{ answer.created_at }}</p>
<form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ answer.vote_set.all.count }} Vote{{  answer.vote_set.all.count|pluralize }}</span>
    {% csrf_token %}
    <input type="hidden" name="answer" value="{{ answer.id }}" />
    <input type="hidden" name="question" value="{{ question.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    {% if answer in user_votes %}  
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
    {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
    {% endif %}
</form>
</div>
{% endfor %}
{% if not user_comment %}
<p><a href="{% url 'comment_create' pk=post.id %}">Post Comment</a></p>
{% endif %}
{% endblock %}