{% extends 'base.html' %}
{% block content %}
{% for post in object_list %}
<div class="panel">
  <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
  <p>Posted by <a href="{% url 'user_detail' slug=post.user.username %}">{{ post.user.username }}</a> on {{ post.created_at }}</p>
<p>{{ post.vote_set.all.count }} Vote{{ post.vote_set.all.count|pluralize }}</p>
<form method="post" action="{% url 'vote' %}">
    {% csrf_token %}
    <input type="hidden" name="post" value="{{ post.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
  <button>+</button>
  </form>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
  <ul class="pager">
      {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
      {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}